@import '../node_modules/bootstrap/scss/bootstrap';

body {
    font-family: 'Reddit Mono', monospace;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: gray;
}

h1, h2, h5 {
    color: blue
}

p {
    color: gray;
}

hr {
    border: 5px solid;
}
.sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}
.sobre img {
    max-width: 100%;
    height: auto;
}
.texto-sobre {
    flex: 1;
    padding-left: 2rem;
}
@media (max-width: 768px) {
    .sobre {
        text-align: center;
    }
    .texto-sobre {
        padding-left: 0;
        padding-top: 1rem;
    }
}

footer {
    color: black;
    font-style: italic;
}